<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TopSoft Inc</title>
    <link rel="stylesheet" href="/css/css_bootsrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
          <div class='row'>
            <div class="col">
                <form action="/index" method="post">
                    
                    <fieldset>
                        <legend>Employee Data</legend>
                        <div class="form-row">
                            <div class="col">
                                <label for="">First Name</label>
                                <input class="form-control" type="text" placeholder="" id="fname" name="fname"/>
                            </div>
                            <div class="col">
                                <label for="">Last Name</label>
                                <input class="form-control" type="text" placeholder="" id="lname" name="lname"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="">Start Date</label>
                                <input class="form-control" type="date" placeholder="" id="reg_fname" name="sDate"/>
                            </div>
                            <div class="col">
                                <label for="">Designation</label>
                                <input class="form-control" type="text" placeholder="" id="reg_fname" class="name"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="">
                                    Role
                                </label>
                                <select name="right" id="">
                                    <option value="">Admin</option>
                                    <option value="">Developer</option>
                                </select>
                               
                            </div>
                            <div class="col">
                                <label for="">Status</label>
                                <input class="form-control" type="text" placeholder="" id="status" class="name"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="">Status</label>
                                <input class="form-control" type="text" placeholder="" id="reg_fname" class="name"/>
                            </div>
                            <div class="col">
                                <label for="">Status</label>
                                <input class="form-control" type="text" placeholder="" id="reg_fname" class="name"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="Submit" value="Submit">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
          </div>
    </div>
</body>
</html>